@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Pirata+One&family=Staatliches&family=Yellowtail&display=swap");

/* Font-Family To choose from */
/*
font-family: 'Oswald', sans-serif;
font-family: 'Pirata One', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Yellowtail', cursive; */

// reset default Styling
* {
  margin: 0;
  padding: 0;
}
body {
}
nav {
  background-color: #1757b8;
  color: black;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
// logo styles
.logo-img {
  padding-top: 15px;
  height: 100px;
  width: 100px;
  cursor: pointer;
}

//nav-bar styling
.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-links {
  height: 30px;
  width: 80px;
  padding: 10px;
  list-style: none;

  :hover {
    border: 2px red solid;
  }
}

// #home,
// #project,
// #blog,
// #contact-us {
// }

// hero section styling
.hero-image {
  background-image: linear-gradient(
    to right,
    rgba(219, 219, 219, 0.5),
    rgba(126, 126, 126, 0.5)
  );
  height: 94vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-info {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  top: 185px;
  left: 20%;

  .hero-heading {
    color: #fff;
    font-size: 6rem;
    width: 100%;
  }
  .hero-para {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 150px;
    left: 30%;
  }
}
// Main section Styles
main {
  padding: 1rem;
  max-width: 80vw;
  margin: auto;
  border: 1px solid red;
}
// Products items styling
.product {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .product-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
    padding: 0.5rem;
    margin: 0.5rem;
  }
  .product-item img {
    height: 200px;
    width: 300px;
  }
}

// Footer Styling
footer {
  margin-top: 2rem;
}
.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid red;
}
.footer-bottom {
  background-color: rgb(104, 104, 230);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  //   Navigation links for footer
  .footer-nav-links {
    list-style: none;
    padding: 1rem;

    li {
      font-size: 1.5rem;
      font-weight: bold;
      width: 100%;
      height: 1.5rem;
      padding: 0.2rem;
      margin: 0.5rem;
      border: 1px solid red;
      border-radius: 10px;
      transition: 0.3s ease;
      text-align: center;

      &:hover {
        background-color: black;
        color: white;
        transform: scale(1.2);
        box-shadow: rgb(138, 138, 138) 0px 5px 10px;
      }
    }
  }
  //   Author-info about himself
  .author-info {
    height: 100%;
    // padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 2.5rem;
      text-align: center;
    }

    p {
      font-size: 1.5rem;
      margin: 0.5rem;
      padding: 0.5rem;
      text-align: center;
    }
  }

  //   Social Media content
  .social-media {
    list-style: none;
    // margin: 1.5rem;
    height: 100%;
    font-size: 1.2rem;
    display: flex;

    .facebook,
    .instagram,
    .twitter,
    .github {
      padding: 5px;
      margin: 5px;

      &:hover {
        background-color: black;
        color: white;
        transform: scale(1.2);
        border-radius: 50%;
      }
    }
  }
}
